@import "normalize";

@import "variables";

@import "grid";

@import "type";

@import "components/header";

@import "pages/about";


* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  padding: 0 20px;
  background-color: var(--dark-blue);
  font-family: 'Work Sans', sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
  transition: color .2s ease-in-out;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}